h4 {
color: #002aDD; /* Цвет заголовка */
font-size: 14pt; /* Размер шрифта в пунктах */
font-family: Georgia, Times, serif; /* Семейство шрифтов */
font-weight: normal; /* Нормальное начертание текста */
}